<header class="gradient">
	<h2 class="head-span home" id="header-container">Home</h2>
	<h2 class="head-span about" id="header-container">About</h2>
	<h2 class="head-span port" id="header-container">Portfolio</h2>
	<h2 class="head-span blog" id="header-container">Blog</h2>
	<h2 class="head-span contact"id="header-container">Contact</h2>
</header>
<div class="page-whole">
	<div class="pageintro">
		<h1 class="page-title">Example Page</h1>
		<h3 class="page-about">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
	</div>
	<img class="twitter-bird" src="http://imgur.com/gEK4x6V" alt="">
		<hr>
		<i class="fa fa-chevron-circle-left fa-2x" id="leftarrow" href="#"></i>
		<i class="fa fa-chevron-circle-right fa-2x" id="rightarrow"></i>
	<div id="cssSlider">
			<div id="sliderImages">
			<img id="si_1" src="http://imgur.com/2VEBzPg" alt="">
			<img id="si_2" src="http://imgur.com/PIkdRkl" alt="">
			<img id="si_3" src="http://imgur.com/O8qsnCF" alt="">
			<img id="si_1" src="http://imgur.com/2VEBzPg" alt="">
			<img id="si_2" src="http://imgur.com/PIkdRkl" alt="">
			<img id="si_3" src="http://imgur.com/O8qsnCF" alt="">
			<div style="clear:left;"></div>
 		</div>
	</div>
	<div class="tangential">
		<h1 class="heading-tan">Tangentially-Related Content</h1>
		<p class="lighter-p">Lorem ipsum dolor sit amet, usu te quem persius docendi, in phaedrum torquatos ius. Eu sea purto duis efficiantur.  Dicam intellegebat no vel, nobis soleat tincidunt vix et. Quo eu doming noster, vis te dictas nominati.</p>
		<p class="lighter-p">Debet comprehensam et vix, eos an brute reque mundi. Pri eu iudico lucilius, dolor soleat ne sed, pro ei debitis civibus convenire. Ut temporibus consectetuer has, ea tale dicant perpetua pro. Cu vel honestatis quaerendum, no dolor ignota meliore has.</p>
	</div>
	<hr class="secondhr">
	<div>
		<div class="thirds">
			<h2>True Barbeque</h2>
			<img src="http://imgur.com/VhDcOLN" class="cow" alt="">
			<span class="cow-wrap">Come see our amazing cow! He's SOOOOO good!
				Mea ne soluta vocent, eum quem appellantur ut.
			</span>
		</div>
		<div class="thirds">
			<h2 class="news">News Update</h2>
			<span>Dancing chicken dies in tragic blacksmithing accident. 
				Lorem ipsum dolor sit amet, vel maiorum antiopam ad, vim ad vidit rebum moderatius, eos homero laudem lucilius et.
			</span>
		</div>
		<div class="thirds names">
			<h2>Our Friends</h2>
			<ul>
				<li>John Lennon</li>
				<li>Paul McCartney</li>
				<li>George Harrison</li>
				<li>Ringo Starr</li>
			</ul>
		</div>
	</div>
</div>
<footer>
	<hr class="secondhr">
	<p><i class="fa fa-copyright"></i> Example Page 2012</p>
</footer>

